@import url('https://fonts.googleapis.com/css2?family=Puritan:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    font-family: "Roboto", Puritan, sans-serif;
}

.container {
    background-color: lightblue;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr 250px;
    grid-template-rows: auto 1fr;
}

.side-bar {
    display: grid;
    grid-area: 1 / 1 / 3 / 2;
    grid-template-rows: repeat(3, max-content);
    background-color: rgb(35, 106, 238);
    color: white;
    padding: 12px 24px;
    row-gap: 50px;
}
.logo-heading {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
    gap: 10px;
    padding: 10px 0 10px 10px;
    margin-bottom: 25px;
}
.logo-heading h5 {
    font-weight: 700;
    font-size: 2rem;
}
.logo-heading svg {
    height: 50px;
    width: 50px;
    fill: white;
}
.nav-section,.settings-section {
    display: grid;
    gap: 20px;
    margin-bottom: 50px;
}

.nav-item {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
    gap: 10px;
    padding: 10px 0 10px 10px;
    transition: background-color 0.2 ease;
}
.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    cursor: pointer;
}

.nav-item svg {
    height: 2rem;
    width: 2rem;
    fill: white;
    justify-self: center;
}

.nav-item p {
    font-size: 1.5rem;
    font-weight: 500;
}


/* svg {
    height: 24px;
    width: 24px;
    fill: white;
} */