* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
}

.container {
    background-color: lightblue;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr 250px;
    grid-template-rows: auto 1fr;
}

.side-bar {
    display: grid;
    grid-area: 1 / 1 / 3 / 2;
    grid-template-rows: repeat(3, max-content);
    background-color: rgb(35, 106, 238);
    color: white;
}
svg {
    height: 24px;
    width: 24px;
    fill: white;
}