@import url('https://fonts.googleapis.com/css2?family=Puritan:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Roboto", Puritan, sans-serif;
}

.container {
    background-color: lightblue;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    grid-template-rows: auto 1fr;
}

/* ------------------------------------------------------------------------------------------------ */
/* Left sidebar section */

.side-bar {
    display: grid;
    grid-area: 1 / 1 / 3 / 2;
    grid-template-rows: repeat(3, max-content);
    background-color: #0C4E4A;
    color: white;
    gap: 50px;
}
.logo-heading {
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    gap: 30px;
    padding: 8px 20px;
    margin-top: 20px;
}

.logo-heading h5 {
    font-weight: bold;
    font-size: 1.8rem;
}

.logo-heading svg {
    height: 3.2rem;
    width: 3.2rem;
    fill: white;
    justify-self: center;
}

.nav-section,.settings-section {
    display: grid;
}

.nav-item {
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    gap: 30px;
    transition: background-color 0.2s ease;
    padding: 8px 20px;
}
.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* border-radius: 5px; */
    cursor: pointer;
}

.nav-item svg {
    height: 1.6rem;
    width: 1.6rem;
    fill: white;
    justify-self: center;
}

.nav-item p {
    font-size: 1.3rem;
    font-weight: 500;
}

/* ------------------------------------------------------------------------------------------------ */
/* Header section */

.header-section {
    min-height: 100px;
    background-color: #009689;
    grid-area: 1 / 2 / 2 / 4;
}